* {
  padding: 0;
  margin: 0;
  font-family: 'Alice', serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.hero {
  height: 75vh;
  width: 100%;
  background-color: black;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

span {
  color: #974eff;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 15px;
  transition: color 0.4s;
}

nav ul li a:hover {
  color: #6a00ff;
  border: 15px solid #101010;
}

.content {
  position: relative;
  text-align: center;
  padding: 8% 8%;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 75px;
}

h3 {
  color: whitesmoke;
  font-size: 25px;
  margin-bottom: 75px;
}

h4 {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 20px;
}

.newslatter button {
  width: 100%;
  max-width: 380px;
  position: relative;
}

.newslatter form input:first-child {
  width: 100%;
  padding: 14px 15px;
  border: 2px solid #6a00ff;
  outline: none;
  border-radius: 30px;
  margin-bottom: 10px;
}

.newslatter form input:last-child {
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #6a00ff;
  font-weight: bold;
  color: black;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  margin-left: 10px;
}

.about {
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #191919;
}

.about img {
  max-width: 35%;
  height: auto;
}

.about-text {
  max-width: 600px;
  margin-top: 20px;
}

.main {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 25px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  display: block;
  margin-top: 20px;
  font-size: 22px;
  background-color: #6a00ff;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 20px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #6a00ff;
  cursor: pointer;
}

.service {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 100%;
  max-width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {height: 365px;
width: 100%;
max-width: 335px;
padding: 20px 35px;
background: #191919;
border-radius: 20px;
margin: 15px;
position: relative;
overflow: hidden;
text-align: center;
}
.card1 {
  height: 365px;
  width: 100%;
  max-width: 335px;
  padding: 20px 35px;
  background: #000000;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card:hover,
.card1:hover {
  background-color: transparent;
  border: 2px solid #6a00ff;
  cursor: pointer;
}

.card i,
.card1 i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #6a00ff;
}

h5 {
  color: white;
  font-size: 23px;
  vertical-align: middle;
  margin-bottom: 15px;
}

.pra p {
  color: #fcfc;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button,
.card1 .button {
  background-color: #6a00ff;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}

.card .button:hover,
.card1 .button:hover {
  background-color: transparent;
  border: 2px solid #6a00ff;
  cursor: pointer;
}

.skills {
  background: #191919;
  width: 100%;
  padding: 100px 0px;
}

.Contact-Me {
  width: 100%;
  height: 290px;
  background: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Contact-Me p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.Contact-Me .button-two,
.button-two,
.Resume,
.backtotop {
  background-color: #6a00ff;
  color: whitesmoke;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}

.button-two:hover,
.Contact-Me .button-two:hover,
.Resume:hover,
.backtotop:hover {
  background-color: transparent;
  border: 2px solid #6a00ff;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .about img {
    width: 100%;
    max-width: 380px;
  }

  .about-text {
    width: 100%;
    max-width: 400px;
  }
}

@media (max-width: 870px) {
  .about img {
    width: 100%;
    max-width: 300px;
  }

  .about-text {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 870px) {
  .about img {
    width: 100%;
    max-width: 300px;
  }

  .about-text {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
  }

  .logo {
    align-self: center;
    font-size: 75px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }

  nav ul {
    width: 100%;
    justify-content: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .content {
    padding: 8%;
    vertical-align: middle;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 17px;
    margin-bottom: 50px;
  }

  h4 {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .newslatter button {
    max-width: none;
  }

  .newslatter form input:last-child {
    margin-left: 0;
    
  }
}
@media (max-width: 768px) {
  .about h2{
    font-size: 25px;
  }
  .about h5{
    font-size: 20px;
  }
  .about p{
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .Contact-Me p{
    font-size: 20px;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .skills h2{
    font-size: 75px;
    align-self:center;
  }
  .box h5{
    font-size: 10px;
  }
  .box p{
    font-size: 7px;
    
  }
}
@media (max-width: 768px) {
.pra p{
opacity: 0;
}
}
@media (max-width: 768px) {
 .card, .card1{
   height: 200px;
    width: 150%;
 }
 }

